*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    background: #efefef;
}
.menu_left{
    margin-top: 1rem;
    position: fixed;
    width: 25%;
    font-size: 0.32rem;
    background: #ececec;
    height: 9.5rem;
    overflow: auto;
}
.special_list_left{
    list-style: none;

}
.special_list_left li{
    height: 0.85rem;
    width: 100%;
    text-align: center;
    line-height: 0.85rem;
    border-bottom: 0.02rem solid #ccc;
    position: relative;

}
.special_list_left li a{
    text-decoration: none;
    display: block;
    height: 0.85rem;
    width: 90%;
    position: absolute;
    right: 0;
    top: 0;
}
.special_list_left li span{
    width: 0.05rem;
    height:0.65rem;
    display: block;
    line-height: 0.85rem;
    background: #ffd700;
    position: absolute;
    left: 0.05rem;
    top:0.05rem;
    display: none;
}
.menu_top{
    margin-top: 1rem;
    position: fixed;
    width: 75%;
    left: 25%;
    font-size: 0.32rem;
}
.special_list_top li{
    float: left;
    height: 0.85rem;
    line-height: 0.85rem;
    width: 33.33333%;
    text-align: center;
    border-bottom: 0.02rem solid #ccc;
}
.special_list_top a{
    color: #000;
    height: 0.85rem;
    width: 100%;
    text-decoration: none;
}
.content{
    width:75.0%;
    position: fixed;
    right: 0;
    top:1.85rem;
    height: 9.5rem;
}
.content ul{
    width: 95%;
    margin: 0 auto;
    height: 8.75rem;
    box-sizing: border-box;
    overflow: auto;
}
.content ul li{
    height: 1.75rem;
    width: 100%;
    position: relative;
    font-size: 0.28rem;
    background: #ffffff;
    font-weight: bold;
    border-bottom: 0.05rem solid #efefef;
}
.show_img{
    display: block;
    position: absolute;
    left: 0;
    top:0;
    width: 1.75rem;
    height: 1.75rem;
}
.show_name{
    width: 2rem;
    height: 0.45rem;
    position: absolute;
    left: 1.75rem;
    top:0;
    line-height: 0.45rem;
    font-size: 0.24rem;
    overflow: hidden;
}
.show_refer{
    width: 2rem;
    height: 0.45rem;
    position: absolute;
    left: 1.75rem;
    top:0.45rem;
    line-height: 0.45rem;
}
.show_refer p{
    display: block;
    float: left;
    margin-left: 0.2rem;
}
.show_refer p:nth-child(1){
    width: 0.56rem;
    height: 0.28rem;
    font-size: 0.19rem;
    color: red;
    border-radius:0.05rem ;
    border:0.02rem solid red;
    text-align: center;
    line-height: 0.28rem;

}
.show_refer p:nth-child(2){
    width: 0.8rem;
    height: 0.28rem;
    font-size: 0.19rem;
    color: white;
    border-radius:0.05rem ;
    background: red;
    text-align: center;
    line-height: 0.28rem;
}
.show_price1{
    font-size: 0.18rem;
    text-indent: 0.2rem;
    color: #9c9a9c;
    position: absolute;
    left: 1.75rem;
    top:0.9rem;
}
.show_price2{
    font-size: 0.18rem;
    text-indent: 0.1rem;
    color: red;
    position: absolute;
    left: 1.75rem;
    top:1.35rem;
}
.show_price2 span{
    text-decoration: line-through;
    color: #9c9a9c;
    margin-left: 0.18rem;
}
.show_add{
    position: absolute;
    right: 0.1rem;
    bottom: 0.15rem;
    width: 0.56rem;
    height: 0.56rem;
    border: 0.05rem solid #efefef;
    border-radius:50% ;
    background: url("../../images/c1.png") center no-repeat;
    background-size: 0.22rem 0.22rem;
}


