<div ui-view class="out"></div>
<footer>
    <ul>
        <li >
            <a  id="a_home"  ui-sref="index.home">
                <div class="foot_bgimg">
                    <img src="src/images/footer_bg.png"  id="foot_bgimg1">
                </div>
                <div class="foot_text">首页</div>
            </a>
        </li>
        <li>
            <a ui-sref="index.show" id="a_show">
                <div class="foot_bgimg">
                    <img src="src/images/footer_bg.png"  id="foot_bgimg2">
                </div>
                <div class="foot_text">闪送超市</div>
            </a>
        </li>
        <li>
            <a ui-sref="index.cart" id="a_myshop">
                <div class="foot_bgimg">
                    <img src="src/images/footer_bg.png"  id="foot_bgimg3">
                </div>
                <div class="foot_text">购物车</div>
            </a>
        </li>
        <li>
            <a href="#/me" id="a_me">
                <div class="foot_bgimg">
                    <img src="src/images/footer_bg.png"  id="foot_bgimg4">
                </div>
                <div class="foot_text">我的</div>
            </a>
        </li>
    </ul>
</footer>