*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,li{
	list-style: none;
}
body{
	width: 100%;
	background: #efefef;
}
a{
	color: black;
}
.out{
	/*display: none;*/
}
footer{
	width: 100%;
	height: 0.84rem;
	background: #f7f7f7;
	position: fixed;
	left: 0;
	bottom: 0;
}
footer ul{
	width: 100%;
	height: 0.84rem;
}
footer ul li{
	width: 25%;
	float: left;
	position: relative;
	height: 0.84rem;
}
footer ul li a{
	width: 100%;
	height: 0.84rem;
	display: block;
}
footer ul li a:hover{
	color: black;
}
footer ul li a:active{
	color: black;

}
.foot_text{
	width: 100%;
	position: absolute;
	left: 0rem;
	bottom: 0rem;
	height: 0.4rem;
	line-height: 0.4rem;
	text-align: center;
	font-size: 0.22rem;
	color: black;
}
.foot_bgimg{
	width: 0.32rem;
	height: 0.33rem;
	position: absolute;
	left: 0.6rem;
	top: 0.09rem;	
	overflow: hidden;
	position: relative;
}
.foot_bgimg img{
	width: 1.69rem;
	height: 0.768rem;
	position: absolute;
}
#foot_bgimg1{
	left: -0.05rem;
	top: -0.03rem;
}
#foot_bgimg2{
	left: -0.38rem;
	top: -0.03rem;
}
#foot_bgimg3{
	left: -1.0rem;
	top: -0.03rem;
}
#foot_bgimg4{
	left: -1.35rem;
	top: -0.03rem;
}
.mengban{
	width: 100%;
	height: 12rem;
	z-index: 9999;
	position: fixed;
	left: 0;
	top:0;
	background: url("../img/loading.png") center no-repeat #ffd82b;
	background-size: 6.4rem 4.7rem;
}
.mengban a{
	width: 100%;
	height: 12rem;
	display: block;
	background: blue;
}