<header>
    <img src="src/images/ico_sys.png" id="header_sys">
    <input type="text" placeholder="获取当前位置">
    <img src="src/images/ico_search1.png" id="header_search1" ng-click="search()">
</header>
<div  class="swiper-container">
    <div class="swiper-wrapper">
        <!--<div class="swiper-slide" ng-repeat="obj in arr1">-->
        <!--<img src="{{ obj.activity.img }}">-->
        <!--</div>-->
        <div class="swiper-slide"><img src="src/images/pic-1.jpg"></div>
        <div class="swiper-slide"><img src="src/images/pic-2.jpg"></div>
        <div class="swiper-slide"><img src="src/images/pic-3.jpg"></div>
        <div class="swiper-slide"><img src="src/images/pic-4.jpg"></div>
        <div class="swiper-slide"><img src="src/images/pic-5.jpg"></div>
    </div>
</div>
<div class="main">
    <!--<div class="ico"  ng-repeat="obj in arr2" ng-click="to()" >-->
    <!--<a href=""></a>-->
    <!--<img ng-src="{{ obj.activity.img }}">-->
    <!--<div class="ico_name">{{ obj.activity.name }}</div>-->
    <!--</div>-->
    <div class="ico">
        <!--<img src="src/images/ico_cj.png">-->

        <p></p>
        <div>抽奖</div>
    </div>
    <div class="ico">
        <a href=""></a>
        <!--<img src="src/images/icon0.png">-->
        <p></p>
        <div>疯狂秒杀</div>
    </div>
    <div class="ico">
        <!--<img src="src/images/icon1.png">-->
        <p></p>
        <div>鲜货直供</div>
    </div>
    <div class="ico">
        <!--<img src="src/images/icon3.png">-->
        <p></p>
        <div>大闸蟹</div>
    </div>
    <div class="ico">
        <!--<img src="src/images/icon0.png">-->
        <p></p>
        <div>水果</div>
    </div>
    <div class="ico">
        <!--<img src="src/images/icon1.png">-->
        <p></p>
        <div>乳品</div>
    </div>
    <div class="ico">
        <!--<img src="src/images/icon2.png">-->
        <p></p>
        <div>卤味</div>
    </div>
    <div class="ico">
        <!--<img src="src/images/icon3.png">-->
        <p></p>
        <div>零食</div>
    </div>
</div>
<div class="nav">
    <div class="nav_img">
        <img src="src/images/nav2-1.jpg">
    </div>
    <div class="nav_img">
        <img src="src/images/nav2-2.jpg">
    </div>
    <div class="nav_img">
        <img src="src/images/nav2-3.jpg">
    </div>
</div>